<h1>Shelters with Pending Applications</h1>

<ul>
<% @pending_app_shelters.each do |shelter| %>
  <li id="shelter_<%=shelter.id%>" >
    <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
  </li>
<% end %>
</ul>