<h1> All Shelters (Admin)</h1>

<% @shelters.each_with_index do |shelter, index| %>
<div id = "shelter-<%= index %>">
<p><%= shelter.name %></p>
</div>
<% end %>
<br>

<h3>Shelter's with Pending Applications:</h3>
<%@pending_shelters.each_with_index do |shelter, index| %>
<div id = "pending_shelter-<%= index %>">
<p><%= shelter.name %></p>
</div>
<% end %>
