<h1>Edit Shelter</h1>
<%# <%= form_with url: "/shelters/#{@shelter.id}", method: :patch, local: true do |f| %> %>
<%= render partial: "form", locals: { path: "/shelters/#{@shelter.id}", method: :patch } %>
