<h1>New Shelter</h1>
<%= render partial: "form", locals: { path:"/shelters",
                                      method: :post,
                                      button_text: "Create Shelter",
                                      local: true } %>
