<h1> Admin Applications Index</h1>
<ul id="applications">
<% @applications.each do |application| %>
    <li>
    <h2>Name: <a href="/applications/<%= application.id %>"><%= application.name %></a></h2>
        Created_at: <%= application.created_at %>
    </li>

<% end %>
