<div class="container" style='padding-left: 20px; padding-bottom: 20px;'>
<h1>All Applications</h1>

<table style='width:100%;'>
  <tr>
    <% @formatted_attributes.each do |attribute, formatted_attribute| %>
      <th><%= formatted_attribute %></th>
    <% end %>
    <th>Take Action</th>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <% @formatted_attributes.each do |attribute, formatted_attribute| %>
        <td><% if @record_id = record.send("#{attribute}") %>
            <%= link_to @record_id, "#{@record_path}#{@record_id}", method: :get %>
          <% else %>
            <%= record.send("#{attribute}") %></td>
          <% end %>
      <% end %></td>
         <% if @pets_needing_action.include? record.id %>
            <td><button><%= link_to "Review Application #{record.id}", "/admin/applications/#{record.id}", method: :get %></button></td>
          <% end %>
    </tr>
  <% end %>
</div>