<h1>Pending Pets: </h1>
<section id="Pets">
<p><% @application.application_pets.each do |pet_app| %></p>
  <p><%= pet_app.pet.name %>: <% if pet_app.status == "Pending" %>
    <%= button_to "Approve #{pet_app.pet.name}", "/admin/applications/#{@application.id}", method: :patch, params: { status: "Approved", pet_id: pet_app.id } %>
    <%= button_to "Reject #{pet_app.pet.name}", "/admin/applications/#{@application.id}", method: :patch, params: { status: "Rejected", pet_id: pet_app.id } %>
  <% end %>
  <% if pet_app.status != "Pending" %>
    <%= pet_app.status %>
  <% end %>
<% end %>
</p>
</section>