<% @pets.each do |pet| %>

  <% if @app.find_pet_app(pet.id).status == nil %>

    <p><%= render partial: "shared/approve_reject", locals: {
      url: "/applications/#{@app.id}/pets/#{pet.id}?approve=true",
      button_text: "Approve #{pet.name}"
    } %></p>


    <p><%= render partial: "shared/approve_reject", locals: {
      url: "/applications/#{@app.id}/pets/#{pet.id}?reject=true",
      button_text: "Reject #{pet.name}"
    } %></p>

  <% elsif @app.find_pet_app(pet.id).status != nil %>

    <p><%= "#{pet.name} is #{@app.find_pet_app(pet.id).status}" %></p>

  <% end %>


<% end %>
