<p>Pets for Approval</p>

<% @application.application_pets.each do |app_pet| %>
  <% if app_pet.status == "Approved"  %>
    <%= app_pet.pet.name %> Approved!
  <% else app_pet.status == "Pending" %><br>
    <%= app_pet.pet.name %> <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, local: true, params: { pet_id: app_pet.pet.id } %>
  <% end %>
<% end %>
