<h1>This is the show page</h1>

<% @pending_pets.each do |pet| %>
<div id= "pet_<%=pet.id%>">
<% if @pet_application.pet_application_status == "Pending"  %>
  <%= pet.name  %>
  <p><%= button_to "Approve This Pet", "/pet_applications/#{pet.id}/#{@pet_application.application_id}?status=approved", method: :patch %></p>
<% elsif @pet_application.pet_application_status == "Approved"  %>
  <%= pet.name  %>
  <p>Approved</p>
<% end %>
</div>

<% end %>