<h2>Pets</h2>
<% @pets.each do |pet| %>
<%# <section id="application-<%= >> %>
  <p><%= pet.name %></p>
  <% if ApplicationPet.find_application_pet(pet.id, @application.id).status == "Approved" %>
    <p>Approved</p>
  <% elsif ApplicationPet.find_application_pet(pet.id, @application.id).status == "Rejected" %>
    <p>Rejected</p>
  <% elsif @application_pet.blank? %>
    <p><%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}", method: :get, params: {approve: true, pet_id: pet.id}%></p>
    <p><%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}", method: :get, params: {approve: false, pet_id: pet.id} %></p>
  <% end %>
<% end %>
