<h1>Edit Veterinarian</h1>

<%= render partial: 'form', locals: { 
                                    path: "/veterinarians/#{@veterinarian.id}", 
                                    method: :patch,
                                    submit_button: "Save"
                                    } %>

