<h1><%= "#{@application.applicant_name}'s application" %></h1>
<h2> Pet Wishlist </h2><br/><br/>
<% @application.pets.each do |pet| %>
<h3><%= pet.name %><p>
  <% if PetApplication.joins(:pet).where("pet_id = #{pet.id}").pluck(:condition).first == "Pending" %>
  <p><%= link_to "Approve this Pet!", "/admin/applications/:id", id: "Approve #{pet.id}", method: :post %></p>
  <% end %>
<% end %>
