<% if @status == "approve"%>
  <p>This pet has been approved</p>
<% elsif @status == "reject"%>
  <p>This pet has been rejected</p>
<% else %>
  <%= button_to "Approve", "/admin/applications/#{@application.id}?approve_reject=approve" %>
  <%= button_to "Reject", "/admin/applications/#{@application.id}?approve_reject=reject" %>
<% end %>