<h1>Application Index</h1>

<%= link_to "New Application", "/applications/new" %>

<% @applications.each do |application| %>
  <section id="application-<%= application.id %>">
    <%= link_to "#{application.name}", "/applications/#{application.id}" %>
  </section>
<% end %>
