<h1>Application:</h1>
<%= render partial: 'form', locals: {
                                      path: "/applications",
                                      method: :post,
                                      button_text: 'Submit'} %>
