<h1>New Application</h1>

<%= render partial: 'form', locals: { path: "/applications/:id", method: :post, button_text: 'Submit' } %>

<body>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <%= yield %>
</body>
