<h1>Application Details:</h1>

<%= render partial: 'app_details' %>
<br>
<%= render partial: 'submit_app' unless @application.pets == [] || @application.status == "Pending" %>

<%= render partial: 'pet_adopt' unless @application.status == "Pending" %>


