<h1><%= "#{@application.name}" %> Application Details</h1>
<p><%= "Name: #{@application.name}" %></p>
<p><%= "Full address: #{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p><%= "Applicant statement: #{@application.description}" %></p>

