<h1> Admin Shelters Index </h1>
 <% @shelters.each do |shelter| %>
 <%= shelter.name %>
<% end %>

<section id="Shelters_with_pending_applications"> 

<h1> Shelters with pending applications </h1>
 <% @shelters_with_pending_applications.each do |shelter| %>
 <%= shelter.name %>
<% end %>

</section>