<center>
  <h1>Admin View</h1>
  <h3>Shelter Index</h3>

  <% @shelters.each do |shelter| %>
  <%= shelter.name %>
  <% end %>


  <h3> Shelters With Pending Applications </h3>
  <% @shelters_with_pending_apps.each do |shelter| %>
  <%= shelter.name %>
  <% end %>
</center>
