<h2>All Shelters</h2>


<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h4><%= shelter.name %></h4>
  </div>
<% end %>

<div id="pending-shelters">
<h2>Shelters with Pending Applications</h2>

  <% @pending_shelters.each do |shelter| %>
    <h4><%= shelter.name %></h4>
  <% end %>
</div>
