<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h5><%= shelter.name %></h5>
  </div>
<% end %>

<p> <h3> Shelters with Pending Applications </h3> </p>
<% if !@pending_shelter_apps.nil?%>
  <% @pending_shelter_apps.each do |pending_shelter_app|%>
  <h6> <%= pending_shelter_app.name %> </h6>
  <% end %>
<% end%>
