<p><%= @applicant.first_name %> <%= @applicant.last_name %></p>
<p> <%="#{@applicant.street_address} #{@applicant.city}, #{@applicant.state} #{@applicant.zip}"%></p>
<p><%= @applicant.description %></p>