<h1>List of Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <p><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></p>
<% end %></div>

<h3>Shelters with Pending Applications:</h3>
<div id="pending">
  <% @pending.each do |shelter| %>
    <p><%= shelter.name %></p>
  <% end %></div>
