<h1>Shelters<h1>

<% @shelters.each do |shelter|%>
  <p><%= shelter.name %></p>
<%end%>

<h2>Shelters with Pending Applications<h2>
<%= Shelter.pending_applications.map do |app| %>
  <%= app.name.chomp %>
<%end%>
  
