<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <%= shelter.name %></br>
<% end %>

<h3>Shelters with Pending Applications</h3>

<div id="pending"> 
  <% @shelters_with_pending.each do |shelter|%>
    <%= shelter.name %></br>
  <% end %>
</div>