All Shelters

<% @shelters.each do |shelter| %>
  <%= shelter.name %>
<% end %>

Shelter's with Pending Applications
<div id="pending">

<% @pending_apps.each do |shelter| %>
  <%= shelter.name %>
<% end %>
</div>
