<h1>Shelters<h1>

<% @shelters.each do |shelter|%>
  <p><%= shelter.name %></p>
<%end%>

<h2>Shelters with Pending Applications<h2>
<ul>
<% Shelter.pending_applications.each do |shelter| %>
  <li><%= shelter %></li>
<% end %>
</ul>
  
