<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></h3>
<% end %></div>

<div id="pending">
  <% @pending.each do |shelter| %>
  <p>Shelters with Pending Applications: </p>
    <h3><%= shelter.name %></h3>
  <% end %></div>
