<%= render partial: "/shared/shelters_index" %>

<div id="pending">
  <h2>Shelters with Pending Applications:</h2>
  <% @shelters_with_pending_apps.each do |shelter| %>
    <%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %>
  <% end %>
</div>

