<% @shelters.each do |shelter| %>
<div id="shelter-<%= shelter.id %>">
  <h1><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %><h1>
</div>
<% end %>

<div id="pending_shelters">
  <h1>Pending Shelters: </h1>
  <% @pending_shelters.each do |shelter| %>
    <h3><%= shelter.name %></h3>
  <% end %>
</div>
