<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <%= shelter.name %>
  <br><br>
<% end %>

<div class="pending_applications">
  <h2> Shelters with Pending Applications </h2>
  <% @shelters_with_pending_applications.each do |shelter| %>
    <%= shelter.name %><br>
  <% end %>
</div>