<h4>All Shelters: </h4>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>

<h4>Shelters with Pending Applications: </h4>
<% @shelters.each do |shelter| %>
  <% @applications_pending.each do |application| %>
    <% if application.shelter_id == shelter.id %>
      <p><%= shelter.name %></p>
    <% end %>
  <% end %>
<% end %>
