<div class="right_list">
  <h1>With Pending Applications </h1>
  <% @pending.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <% end %>
</div>

<h1> All Shelters </h1>
<% @shelters.each do |shelter| %>
<h2> <%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %> </h2>
<% end %>