<h1><%= @shelter.name  %></h1>

<h2>Pending Applications</h2>

<% @applications.each do |application| %>
  <h4><%= link_to "#{application.name}", "/admin/applications/#{application.id}"  %></h4>
  <p><%= application.city  %>, <%= application.state %></p>
<% end %>
