<%= @shelter.name %>

<div id="statistics">
  <p>Average Pet Age: <%= @shelter.adoptable_pets_average_age %></p>
  <p>Number of Adoptable Pets: <%= @shelter.adoptable_pet_count %></p>
  <p>Number of Adopted Pets: <%= @shelter.adopted_pet_count %></p>
</div>
