<% @shelter.each do |shelter| %>
<h1><%= shelter.name %></h1>
<h3><%= shelter.city %></h3>
<% end %>
<h4>Shelter Statistics</h4>
<p>Adoptable Pet Count: <%= @shelter_pets.count %></p>
<p>Adoptable Pet Average Age:
  <%= @shelter_average_age %>
</p>
