<h1>Admin Shelter Show Page</h1>


  <div id="shelter-<%= @shelter.id %>">

    Shelter Name: <%= @shelter.name %><br>
    Full Address: <%= @shelter.full_address %><br>

  </div>

  <section id="statistics">
    <h2>Shelter Statistics</h2>

  Average Pet Age: <%= @shelter.adoptable_pets_avg_age %><br>
  </section>

