<%= render partial: 'applications/applicants_info' %>

<%= @application.id%>
<p>Pet(s) Applying for: </p>
<% @application.pets.each do |pet|%>

  <% if @application.status == "Pending" %>
    <%= button_to "Approve", "/admin/applications/#{@application.id}/#{pet.id}/update?approve=true", local: true, method: :patch  %>
    <%= button_to "Reject", "/admin/applications/#{@application.id}/#{pet.id}/update?approve=false", local: true, method: :patch  %></p>
  <%end%>

<%end%>
