<h3>Pets with pending applications:</h3>
<% if @adopted_pets && @application.status == "In Progress" %>
  <% @adopted_pets.map do |pet| %>
		<%= pet.name %>
		<%= button_to "Approve", "/admin/applications/#{@application_1.id}", method: :patch, params: {approve: pet.id} %>
      <%= button_to "Reject", "/admin/applications/#{@application_1.id}", method: :patch, params: {reject: pet.id}%>
   <% elseif %>
	   <p><%= pet.name %> is approved for adoption.</p> 
   <% end %>
<% end %>

