<h4><%= @application.name%>'s Application</h4>
<h5>Pets Applied For</h5>
<% @pets.each do |pet| %>
<div class="pet-<%=pet.id%>">
<p><%= pet.name %>
  <% if pet.adoptable %>
  <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {approve: pet.id}, method: :get %>
  <% end %></p>
</div>
<% end %>
