<body style="background-image: url('https://media.istockphoto.com/vectors/adopt-a-pet-concept-vector-illustration-vector-id1286489291?k=20&m=1286489291&s=612x612&w=0&h=EfiS8XyUokeo16ml6_BbFS8XdunkEttuPauHhZEy5b0='); background-size:cover;">
</body>
<h1 style="color:MidnightBlue;">Adopt, Don't Shop!</h1>
