<br/>
<h1 align="center"><img src="https://cdn.shopify.com/s/files/1/1185/0798/files/Adopt-Dont-Shop_Landing-Page-2_02_2048x2048.jpg?v=1556914369" alt="Adopt Don't Shop" width=25% height=5% ></h1>
<br/>
<h1 align="center">Your one-stop-adopt for all things pets!</h1>
<br/>

<div align="center">
  <img src='https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/22133125/Golden-Retriever-standing-outdoors.jpg' height=20% width=30% />
  <img src='https://www.petage.com/wp-content/uploads/2021/01/cat-vet-stock-image-670x447.jpg' height=20% width=30% />
</div>
<br />
<br />
<h4 align="center"> Project layout: </h4>
<br />
<br />
<div align="center">
  <img src='https://user-images.githubusercontent.com/74567704/126072464-1c21a4c2-f6b2-4ac1-8485-ded5ed9ccc76.png' />
</div>
