<body style="background-image: url('https://dt2n0xjvnpvnu.cloudfront.net/articles/blog/images/img-requirements-to-adopt-a-pet.jpg'); background-size:cover;">
</body>
<h1 style="color:MidnightBlue;">Adopt, Don't Shop!</h1>
