/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .active {
  margin: 0;
  position: relative;
  top: 30%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
#main-logo {
  height: 50px;
  width: 75px;
}

section {
  background-color: powderblue;
  border: 2px solid powderblue;
  padding: 10px;
  width: 25%;
}
table, th {
  text-align: left;
  vertical-align: text-top;
  border: 1px solid black;
}
td {
  border: 1px dotted black;
}
.topnav {
  background-color: darkblue;
  height: 50px;
  word-spacing: 30px;
  padding-right: 20px;
  border-style: solid;
  border-color: darkblue;
}
.topnav span {
  float:right;
  margin: 0;
  position: relative;
  top: 30%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}