/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* fonts */
 @import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 .content{
  margin-top: 50px;
 }

 .navbar {
   overflow: hidden;
   background-color: #8E5DDE;
   color: #FFFFFF;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 2;
 }

 .navbar-item{
  display: inline-block;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
 }

 .navbar a {
   float: left;
   display: block;
   color: #FFFFFF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 .navbar a:hover {
   background: #D9CAF0;
   color: #5D23F6;
 }

 h1{
  font-family: 'Pattaya', sans-serif;
 }

 body {
   font-family: 'Lato', sans-serif;
   display: grid;
 }

 table{
   display: grid;
   grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr);
   display: contents;
   margin: 25px 0;
   font-size: 1em;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
 }

 table th,
 table td {
   padding: 12px 15px;
   text-align: left;
   vertical-align: top;
 }

 table thead{
  background-color: #d9def2;
  font-weight: bold;
}

.pets p {
  font-size: .09em;
}

