/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  padding: 0px;
  margin: 0px;
 }
 header {
  
  overflow: auto;
  background-image: linear-gradient(white,rgb(240, 238, 235));
  background-size: cover;
  color: rgb(47, 56, 109);
  font-size: 100%;
  width: 120%;
}
article {
  position: absolute;
  margin: 15px;
}

#title {
  color: rgb(109, 83, 171);
  float: left;
  padding-left:10px; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
#b {
  font-style: oblique;
}

a {
  color: grey;
  text-decoration: none;
  
}
a:visited {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: rgb(109, 83, 171);
  text-decoration: none;
}

 .navigation {
  float: left;
  font-size: 50%;
  padding-top: 11px;
  padding-bottom: 6px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 250px;
}

.divider {
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      rgb(138, 138, 138) 1%, 
      rgba(0, 0, 0, 0) 
    ) 1 100%
}

.div_2 {
  border-width: 1px;
  border-left-width: 0px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      rgb(138, 138, 138) 1%, 
      rgba(0, 0, 0, 0) 
    ) 1 100%
}

.table_button {
  margin: 20px;
}
.box {
  vertical-align: bottom;
  display: inline-block;
  height: 19px;
}
.rating_box {
  vertical-align: bottom;
  display: inline-block;
  height: 19px;
  background-image: url('stars.png');
}

.create_form {
  width: 200px;
}
