<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://user-images.githubusercontent.com/74567704/125954476-00cdec97-1725-4d9d-b44d-c6a26fa30acc.png" alt="" width=45% height=5% ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span id='nav'>

    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Site" aria-label="Search">
        <button class="btn btn-warning btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
    <br/>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" area-haspopup="true" aria-expanded="false">
            Animals

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pets">Pets</a>
            <a class="dropdown-item" href="/shelters">Shelters</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" area-haspopup="true" aria-expanded="false">
            People

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/veterinarians">Veterinarians</a>
            <a class="dropdown-item" href="/veterinary_offices">Veterinary Offices</a>
          </div>
        </li>
        <div>
          <form class="d-flex">
            <button class="btn btn-primary btn-outline-warning" type="submit">New Application</button>
          </form>
        </div>

        </span>
        </div>


</nav>
