<h1> Name: <%= @application.name %> </h1>
<h2> Full Address: <%= @application.full_address %> </h2>
<h2> Description: <%= @application.description %> </h2>
<h2> Status: <%= @application.status %> </h2>
