<div class="d-flex justify-content-center">
  <h1>Adopt, don't shop!</h1>
</div>

<div class="d-flex justify-content-center">
  <%= image_tag "dogs.jpg", alt:"four dogs looking over a cement wall", style:'width: 60%' %>
</div>
