<div class="align-self-center">
  <div class="col" style="background:white">
    <h1>Welcome to Adopt, don't shop!</h1><br>

    <h3><%= link_to "Apply for a Pet!", new_application_path %></h3>
    <%= image_tag "please_adopt_us.jpeg" %>
  </div>
</div>
