
<h1 align="center">Adopt, don't shop!</h1>
<div align="center">
  <img src='https://upload.wikimedia.org/wikipedia/en/7/77/Grammy_Award_2002.jpg' height=350px width=350px />
  <img src='https://thedyrt.imgix.net/photo/631381/media/ginnie-springs_f22388a3-58fb-4fc5-96b7-be495fdd154d.jpg?ixlib=rb-3.1.1' height=350px width=350px />
</div>
<br />
<br />
<h4 align="center"> Project layout: </h4>
<br />
<br />
<div align="center">
  <img src='https://user-images.githubusercontent.com/74567704/124989834-92fa3580-e00d-11eb-8238-ffebdd18eeae.png' />
</div>
