<div class = "shelter" >
<% @shelters.each do |shelter| %>
  <%= shelter.name %>
<% end %>
</div>

<div class = "pending-app" >
  <h2>Shelter's with Pending Applications</h2>
  <% @pending_shelters.each do |shelter| %>
    <%= shelter.name %>
  <% end %>
</div>
