<br>
<div id="shelter">
<% @shelters.each do |shelter| %>
  <div class="shelters">
  <h2><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %> </h2>
  </div>
<% end %>
</div>
<div id="shelters_pending">
<h3>Shelters with pending applications</h3><br>
  <% @shelters_pending.each do |shelter|  %>
  <div class="shelter">
    <%= shelter.name %><br>
  </div>
  <% end %>
</div>