<div class="d-flex align-items-center justify-content-center">
  <h1>Admin Shelters Index</h1>
</div>

<h2>Shelters</h2>

<br>

<% @shelters.each do |shelter| %>
  <ul>
    <h4><%= shelter.name %></h4>
  </ul>

<% end %>

<h2>Shelter's with Pending Applications:</h2> <% @shelters_with_pending_apps.each do |shelter| %>
  <ul>
    <h4> <%= shelter.name %> </h4>
  </ul>
  <% end %>
