
<h1> All Shelters </h1>
<% @shelters.each do |shelter| %>
  <h3> <%= "Shelter Name: #{shelter.name}" %> </h3>
  <%= "Shelter City: #{shelter.city}" %>
<% end %>
<br>
<br>
<br>

<h2> Shelters With Pending Apps </h2>
<% @with_pending_apps.each do |shelter| %>
  <%= shelter.name %>  
<% end %>


