<div id="shelter">
<% @shelters.each do |shelter| %>
  <div class="shelters">
  <%= shelter.name %>
  </div>
<% end %>
</div>
<div id="shelters_pending">
<h3>Shelters with pending applications</h3><br>
  <% @shelters_pending.each do |shelter|  %>
    <%= shelter.name %><br>
  <% end %>
</div>