<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
<p><%= shelter.name %></p>
<% end %>

<div id="pending">
<h2>Shelter's with Pending Applications:</h2>
<% @shelters_pending_app.each do |shelter| %>
<p><%= shelter.name %></p>
<% end %>
</div>
