<h1>Shelters</h1>

<div id="all">
<% @shelters.each do |shelter| %>
<p><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></p>
<% end %>
</div>

<div id="pending">
<h3>Shelter's with Pending Applications:<h3>
<ul>
<% @shelters_pending.each do |shelter| %>
  <li><p><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></p>
<% end %>
</div>
</ul>