<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
<p> <%= shelter.name %> </p>
<% end %>
<p><h3>Pending</h3></p>
   <%= @shelters.pending.each do |shelter| %>
      <%= shelter.name %> 
   <% end %>
