<h1>Admin Shelters Index Page</h1>

<section id='all'>
  <h2>All Shelters</h2>
  <% @shelters.each do |shelter| %>
    <p><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></p>
  <% end %>
</section>

<section id='pending'>
  <h2>Shelters With Pending Applications</h2>
  <% @pending_app_shelters.each do |shelter| %>
    <p><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></p>
  <% end %>
</section>