<h1>Admin Shelters Index</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
  </div>
<% end %>

<h2>Shelters with Pending Applications:</h2>
