<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
<p><%= shelter.name %></p>
<% end %>

<h3>Shelter's with Pending Applications:<h3>
<ul>
<% @shelters_pending.each do |shelter| %>
  <li><p><%= shelter.name %></p>
<% end %>
</ul>