<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <%= shelter.name %><br>
<% end %>

<div id="pendings">
<h2>Shelters with Pending Applications</h2>
<% @pending_shelters.each do |shelter| %>
  <%= shelter.name %><br>
<% end %>
</div>