
<h2>Animal Shelters in Network:</h2>

<%= render partial: 'shared/shelters' %>
<br>
<section id="pending">
<h2>Shelters with Pending Applications:</h2>
<% @pending_app_shelters.each do |shelter| %>
  <%= shelter.name %>
<% end %>
</section>
