    <section>
      <p><%= link_to "Pets", "/pets" %></p>
      <p><%= link_to "Shelters", "/shelters" %></p>
      <p><%= link_to "Veterinarians", "/veterinarians" %></p>
      <p><%= link_to "Veterinary Offices", "/veterinary_offices" %></p>
    </section>